<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <wffm>
      <mailSender type="Sitecore.Support.Forms.Core.Dependencies.DefaultImplMailSender, Sitecore.Support.164951" patch:instead="*[@type='Sitecore.Forms.Core.Dependencies.DefaultImplMailSender, Sitecore.Forms.Core']">
        <param name="itemRepository" ref="/sitecore/wffm/itemRepository" />
      </mailSender>
    </wffm>
  </sitecore>
</configuration>